
#Files
######################
.Rhistory
*-checkpoint.ipynb
tesis/*.bbl
tesis/*.bcf
tesis/*.aux
tesis/*.blg
tesis/*blx.bib
tesis/*.lof
tesis/*.log
tesis/*.out
tesis/*.run.xml
tesis/*.synctex.gz
tesis/*.toc


#Directory
######################
*/.ipynb_checkpoints/*
datasets/

